/* ---------------------------------------------
font & reset css
--------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

/* Global Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  margin: 0;
  font-weight: 700;
}
.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900); }

.fa,
.fas,
.fa-solid,
.far,
.fa-regular,
.fal,
.fa-light,
.fat,
.fa-thin,
.fad,
.fa-duotone,
.fab,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto; }
p {
  font-size: 14px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}



/* ---------------------------------------------
Global Styles
--------------------------------------------- */
::selection {
  background: #0071f8;
  color: #fff;
}

.section {
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-heading h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
  text-align: center;
}

.section-heading h3 em {
  font-style: normal;
  color: #0071f8;
  
}

.section-heading h2 {
  color: #0a58ca;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.icon-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 25px;
  transition: all .3s;
}

.icon-button a i {
  background-color: #0a58ca;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
}

.icon-button a:hover {
  color: #0a58ca;
}

.icon-button a:hover i {
  color: #fff;
}

.main-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 25px;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #0a58ca;
  color: #fff;
}

/* ---------------------------------------------
Pre-loader Style
--------------------------------------------- */
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #0a58ca;
  border-radius: 50%;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #0a58ca;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

/* ---------------------------------------------
Header Style
--------------------------------------------- */
.topContactInfos {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sub-header {
  background-color: #1e1e1e;
  padding: 10px 0px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.social-links {
  gap: 20px;
  display: flex;
}
.sub-header ul li {
  display: inline-block;
}

.sub-header ul li a {
  display: inline-block;
  color: #fff;
}

.sub-header ul.social-links li {
  margin-left: 8px;
  
}

.sub-header ul.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #cdcdcd;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  
  
  font-size: 24px; /* Increase icon size */
  transition: all .3s;
}

.sub-header ul.social-links li a:hover {
  background-color: #0a58ca;
}

.sub-header ul.info li {
  font-size: 14px;
  color: #FFF;
  border-right: 1px solid #eee;
  margin-right: 25px;
  padding-right: 25px;
  
}

.sub-header ul.info li:last-child {
  margin-right: 20px;
  padding-right: 0;
  border-right: none;
}

.sub-header ul.info li i {
  font-size: 20px;
  color: #0a58ca;
  margin-right: 8px;
}


.background-header {
  background-color: #fff;
  height: 80px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area {
  position: relative;
  background-color: #fff;
  height: 80px;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  display: flex;
  width: 100%;
}
.header-area .row {
  height: 80px;
}

.nav {
  display: flex;
}

@media (min-width: 768px) {
  .nav {
    right: 20px;
  }
}

.main-nav {
  display: flex;
  width: 100%;
  
}

.main-nav p {
  position: absolute;
  left: 12%;
  width: 230px;
  margin-top: -38px;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .main-nav p {
    margin-top: 20px;
    left: calc(50vw - 150px);
  }
}
@media (max-width: 400px) {
  .main-nav p {
    font-size: 16px;
    margin-top: 25px;
  }
}
.header-area .main-nav {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-area .main-nav .logo {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: flex;
  
}

.header-area .main-nav .logo h1 {
  line-height: 100px;
  font-size: 28px;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 700;
  letter-spacing: 2px;
}

.background-header .main-nav .logo h1 {
  line-height: 80px;
}

.headerContent {
  margin-right: 0;
  position: relative;
  width: 100%;
}

.header-area .main-nav ul.nav {
  flex-basis: 100%;
  margin-top: 20px;
  justify-content: right;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
  
}

.main-nav .lightmemorylogo {
  transform: translateY(-90%);
  position: absolute;
  height:50px;
  width: 50px;
  left: 5%;
}

@media screen and (max-width : 992px) and (min-width: 0px) {
  .main-nav .lightmemorylogo {
    left: 5%;
  }
}




@media (max-width: 767px) {
  .main-nav .lightmemorylogo {
    height: 50px;
    width: 50px;
    
    transform: translateY(25%);  }
}
.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  line-height: 100px;
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1e1e1e;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: .25px;
}

.header-area .main-nav .nav li:last-child a {
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  padding-left: 0px;
}

.header-area .main-nav .nav li:last-child a i {
  background-color: #0a58ca;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: -1px;
}

.header-area .main-nav .nav li:last-child:hover a {
  background-color: #1e1e1e;
}

.header-area .main-nav .nav li:last-child:hover a i {
  color: #fff;
}

.header-area .main-nav .nav li:hover a {
  color: #0a58ca;
}

.header-area .main-nav .nav li a.active {
  color: #0a58ca;
}


.background-header .main-nav .nav li a.active {
  color: #0a58ca;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
  
}

.background-header .main-nav .menu-trigger {
  top: 22px;
}

.background-header .main-nav ul.nav {
  margin-top: 20px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.visible{
  display:inline !important;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 5px;
    padding-right: 5px;
  }

}

@media (max-width: 767px) {
  .background-header .main-nav {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 25px 25px;
    width: 100%;
  }
  .background-header .main-nav .nav,
  .header-area .main-nav .nav {
    background-color: #fff;
  }
  .background-header .main-nav .nav li a,
  .header-area .main-nav .nav li a {
    line-height: 50px;
    height: 50px;
    font-weight: 400;
    color: #1e1e1e;
    background-color: #fff;
     border-radius: 0px 0px 25px 25px;
  }
  .background-header .main-nav .nav li,
  .header-area .main-nav .nav li {
    border-top: 1px solid #ddd;
    background-color: #f1f0fe;
    height: 50px;
    border-radius: 0px 0px 25px 25px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 0px;
  }
  .background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #0071f8!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area .nav li:last-child a {
    background-color: transparent !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.banniere {
  position: relative;
  width: 100%;
  height: 100vh;
  top: -100px;
  background-image: url(../images/appartementShowcase.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
  z-index: 1; /* Assurez-vous que la bannière est derrière les autres sections */
  
}
@media (max-width: 992px) {
  .banniere {
    top: 0;
  }
}
@media (min-width: 993px) {
  .banniere {
    top: -30px;
  }
}

.banniere::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.bannerContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.banniereTitle {
  margin-top: 60px;
  color: #FFF;
  z-index: 2;
  position: relative;
  width: 100%;
  line-height: 1.2;
}

/* Texte de la bannière */
.banniereText {
  color: #FFF;
  z-index: 2;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

/* Pour les petits écrans (par exemple, smartphones) */
@media (max-width: 767px) {
  .banniereTitle {
    font-size: 6vw;
  }
  .banniereText {
    font-size: 3vw;
  }
  .logoBanniere img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
}

/* Pour les écrans moyens (par exemple, tablettes) */
@media (min-width: 768px) and (max-width: 992px) {
  .banniereTitle {
    font-size: 4vw;
  }
  .banniereText {
    font-size: 2vw;
  }
  .logoBanniere img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
  }
}

/* Pour les grands écrans (par exemple, ordinateurs de bureau) */
@media (min-width: 993px) {
  .banniereTitle {
    font-size: 3vw;
  }
  .banniereText {
    font-size: 1.3vw;
  }
  .logoBanniere img {
    width: 300px;
    height: 300px;
    margin-top: 80px;
  }
}

.banniere .container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 15px;
}

.banniere .row {
  width: 100%;
  margin: 0;
}

.logoBanniere {
  width: auto; /* Ajustement automatique de la largeur */
  height: auto; /* Ajustement automatique de la hauteur */
  z-index: 2;
  position: relative;
}

.fullVisite {
  position: relative;
  width: 90%;
  height: 600px;
  z-index: 2;
  margin: 0 auto; /* Centrer horizontalement */
}

.fullVisiteGallery {
  margin-bottom: 70px;
  margin-top: 80px;
}

.fullVisiteItem {
  height: 90%;
  width: 100%;
  border-radius: 15px;
}


/* Styles pour la section d'informations */
.section.informations {
  position: relative;
  z-index: 2; /* Assurez-vous que cette section est au-dessus de la bannière */
  margin-top: 50px;
}

.section.informations .container {
  position: relative;
  z-index: 2;
}


.banner-about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('/assets/images/appartementShowcase.webp') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 120px 20px;
  text-align: center;
  margin-bottom: -50px;
}

.banner-about-content {
  max-width: 800px;
  margin: 0 auto;
}

.banner-about h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: white;
}

.banner-about p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 40px;
  line-height: 1.6;
}

.btn-discover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--primary-color);
  padding: 16px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.btn-discover:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  transform: scale(1.05);
}


/* 
---------------------------------------------
Informations Style
--------------------------------------------- 
*/

.informations {
  margin-top: 0;
}
.containerInformations {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  position: relative;
}

.articleInformations {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap; /* Allows wrapping of items */
  gap: 40px;
  margin-bottom: 50px;
}

/* Style for large screens (default) */
.articleInformations img {
  border-radius: 15px;
  width: 45%;
  height: auto; /* Ensure aspect ratio is maintained */
  max-width: 100%; /* Prevents image from exceeding container width */
  object-fit: contain; /* Maintains aspect ratio and fits image within container */
}
.articleInformations iframe {
  width: 45%;
  border-radius: 15px;
  opacity: 0; /* Initialement caché */
  transform: translateY(20px); /* Décalé initialement */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.articleInformations .informationTitleText {
  padding: 20px;
  width: 45%;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  opacity: 0; /* Initialement caché */
  transform: translateY(50px); /* Décalé initialement */
  transition: opacity 0.5s ease-out, transform 1s ease-out;
  
}
.articleInformations .informationTitleText.show, 
.articleInformations iframe.show {
  opacity: 1;
  transform: translateY(0);
}

.articleInformations .informationTitleText:hover {
  transform: translateY(-10px) scale(1.03);
}

.articleInformations .informationTitleText p {
  font-size: 1vw;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.articleInformations .informationTitleText h3 {
  padding: 2%;
  margin-bottom: 20px;
}

/* Responsive adjustments for smaller screens */
@media (min-width: 993px) {
  .articleInformations {
    flex-direction: row;
    width: 100%;
  }
  .containerInformations {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .articleInformations .informationTitleText h3 {
    font-size: 5vw; /* Adjust size as needed */
  }
  .articleInformations .informationTitleText p {
    font-size: 3vw; /* Adjust size as needed */
  }
}
@media(min-width: 501px) and (max-width: 767px) {
  .articleInformations .informationTitleText h3 {
    font-size: 4vw; /* Adjust size as needed */
  }
  .articleInformations .informationTitleText p {
    font-size: 2vw; /* Adjust size as needed */
  }
}
@media(min-width: 768px) and (max-width: 992px) {
  .articleInformations .informationTitleText h3 {
    font-size: 3vw; /* Adjust size as needed */
  }
  .articleInformations .informationTitleText p {
    font-size: 1.5vw; /* Adjust size as needed */
  }
}
@media (min-width: 993px) {
  .articleInformations .informationTitleText h3 {
    font-size: 2em; /* Adjust size as needed */
  }
  .articleInformations .informationTitleText p {
    font-size: 1em; /* Adjust size as needed */
    width: 90%;
    position: relative;
  }
}
@media (max-width: 992px) {
  
  .articleInformations {
    flex-direction: column; /* Stack items vertically on smaller screens */
    width: 90%;
  }

  .articleInformations img {
    width: 100%; /* Full width for image */
    max-height: 400px; /* Adjust max-height as needed */
    object-fit: contain; /* Maintains aspect ratio and fits image within container */
    order: 2; /* Move image after text */
  }

  .articleInformations .informationTitleText {
    width: 100%; /* Full width for text */
    padding: 20px; /* Adjust padding for better responsiveness */
    order: 0; /* Ensure text is first */
  }

  .articleInformations .informationTitleText {
    width: 100%;
  }
  .articleInformations img {
    width: 100%;
    order: 1;
  }
  .articleInformations iframe {
    width: 100%;
   order: 1;
  }
}
/* 
---------------------------------------------
Bannière secondaire Style
--------------------------------------------- 
*/
/* Conteneur pour la bannière */
.banner {
  position: relative; /* Positionner la bannière relativement pour le positionnement du ::before */
  width: 100%;
  height: 300px; /* Ajustez la hauteur selon vos besoins */
  background: url('../images/appartementShowcase.jpg') no-repeat center center;
  background-size: cover; /* Couvre tout le conteneur */
  background-attachment: fixed; /* Fixe l'image de fond pour qu'elle ne défile pas */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Couleur sombre pour assombrir l'image */
  z-index: 1;
}

.banner-content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 2; /* Assure que le texte est au-dessus du fond sombre */
  padding: 0 20px;
}

.banner-content h3 {
  font-size: 2em; /* Ajustez la taille du texte selon vos besoins */
  margin: 0;
  padding: 0;
  color: #FFF;
}

/* Pour le conteneur des sections au-dessus de la bannière */
.containerInformations {
  position: relative;
  z-index: 0; /* Assure que cette section est en dessous de la bannière */
}

/* Style de la section "En savoir plus" */
.learn-more-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espacement entre les articles */
  padding: 20px;
  flex-wrap: wrap; /* Permet aux articles de passer à la ligne si l'écran est trop petit */
  width: 90%;
  margin: 0 auto;
}

.learn-more-item {
  display: flex;
  flex-direction: column; /* Organise les éléments en colonne */
  justify-content: space-between; /* Aligne les éléments de manière uniforme */
  align-items: center;
  flex: 1; /* Permet aux articles de s'étendre également */
  box-sizing: border-box; /* Inclut le padding et les bordures dans la largeur totale */
  margin-bottom: 20px; /* Espacement sous chaque article pour la disposition en colonne */
  padding: 10px;
}

.learn-more-item img {
  width: 100%; /* L'image prend la largeur totale de l'article */
  height: 300px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Conserve l'aspect ratio de l'image sans la rogner */
  border-radius: 30px;
  display: block; /* Élimine les espaces blancs sous les images */
  margin: 0 auto; /* Centre l'image horizontalement */
  object-fit: cover;
}
.learn-more-item iframe {
  width: 100%; /* L'image prend la largeur totale de l'article */
  height: 400px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Conserve l'aspect ratio de l'image sans la rogner */
  border-top-right-radius: 10px; /* Bords arrondis pour les images */
  border-top-left-radius: 10px; /* Bords arrondis pour les images */
  display: block; /* Élimine les espaces blancs sous les images */
  margin: 0 auto; /* Centre l'image horizontalement */
}
.learn-more-item h3 {
  font-size: 1.5em;
  margin: 10px 0;
  margin-top: 20px;
}

.learn-more-item-h3-center {
  text-align: center;
}

.learn-more-item p {
  font-size: 1em;
  color: #555; /* Couleur du texte */
}

/* Responsive Design */
@media (max-width: 1300px) {
  .learn-more-section {
    flex-direction: column; /* Les articles se placent en colonne */
    align-items: center; /* Centre les articles horizontalement */
    
  }

  .learn-more-item {
    max-width: 100%; /* Les articles prennent la largeur totale du conteneur */
    margin-bottom: 20px; /* Espacement entre les articles en colonne */
  }
}


.containerLearnMoreSection {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

.thirdPhotoLearnMore {
  max-width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

@media (max-width: 767px) {
  .containerLearnMoreSection {
    display: flex;
    flex-direction: column;
  }
  .thirdPhotoLearnMore {
    max-width: 100%;
  }
  .learn-more-item img {
    height: 200px;
}
}
@media (min-width: 1400px) {
  
  .learn-more-item img {
    height: 400px;
}
}

.suivi-az {
  background: url('../images/appartementShowcase.jpg') center center no-repeat;
  background-size: cover; /* L'image s'ajuste à la taille du conteneur */
  background-attachment: fixed; /* Fixe l'image pour l'effet parallax */
   /* L'image occupe toute la hauteur de l'écran */
  padding: 60px 0; /* Espacement autour du contenu */
  color: white; /* Pour que le texte ressorte sur l'image */
  position: relative; /* Pour permettre le superposition des autres éléments */
  z-index: 0;
}

.titreException {
  color: white;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: 1800px;
  padding: 0 40px;
  margin: 60px auto;
}


.step-card {
  background: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
}

.step-image img {
  width: 300px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.step-content {
  flex: 1;
}

.step-number {
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 8px;
}

.step-content h3 {
  margin-bottom: 10px;
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .step-card {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  

  .step-image img {
    width: 100%;
  }

  .step-content h3 {
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .steps-container {
    padding: 0 10px;
  }
  
}



/*
---------------------------------------------
Properties Style
--------------------------------------------- 
*/

.properties {
  margin-top: 50px;
}
.containerPropertiesSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.galleryFull {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.properties .item {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px;
  height: 800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.properties .item iframe {
  border-radius: 10px;
  width: 100%;
  height: 600px;
}

.properties .item span.category {
  background-color: #1e1e1e ;
  color: #FFF;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 200px;
}

.properties .item h4 {
  font-size: 19px;
  margin: 25px 0px;
  text-align: center;
}

.properties .item h4 a {
  color: #1e1e1e;
  
}
.properties .item ul {
  align-self: center;
}
.properties .item ul li {
  display: inline-block;
  font-size: 15px;
  color: #4a4a4a;
  
  text-align: center;
}

.properties .item ul li span {
  font-weight: 600;
  color: #1e1e1e;
}

.properties .item ul {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.properties .item h2 {
  font-size: 28px;
  color: #0a58ca;
  margin-top: 6px;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
}

/* 
---------------------------------------------
Avis Clients
--------------------------------------------- 
*/

.avisClient {
  background-color: #f9f9f9;  /* Fond léger */
  padding: 60px 20px;
  text-align: center;
}

.avisClient-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.avisClient-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
}

.client-testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Grid responsive */
  gap: 30px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-10px); /* Effet de levée au survol */
}

.testimonial-icon {
  margin-bottom: 20px;
}

.testimonial-icon img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  
}

.testimonial-text h3 {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.testimonial-text p {
  font-size: 1rem;
  color: #555;
}


/* 
---------------------------------------------
Contact Style
--------------------------------------------- 
*/

.contact {
  background-image: url(../images/banner-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px 250px 0px;
  position: relative;
  margin-top: 0px;
}

.contact .section-heading h3 {
  color: #fff;
}

.homepagecontact-content {
  margin-top: -240px;
  position: relative;
  z-index: 1;
}

.contact-content #map {
  border-radius: 10px;
  margin-bottom: 60px;
  
}

.homePageMap {
  width: 80%;
}

.contact-content .item {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
}

.contact-content .phone {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.contact-content .email {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 150px;
  padding: 20px; /* Increase padding for larger touch area */
  margin: 10px 0; /* Add margin for spacing */
  font-size: 18px;
  animation: bounce 2s ease-in-out infinite; /* Animation de rebond linéaire continuellement */
  display: flex;
  align-items: center;
  cursor: pointer; /* Pour indiquer que l'élément est cliquable */
  transition: transform 0.3s ease; /* Animation pour un effet visuel plus fluide */
  max-width: 300px;

}

.email:hover {
  transform: scale(1.05); /* Légère augmentation de la taille au survol pour un effet visuel supplémentaire */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Déplacement constant vers le haut */
  }
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}
@media (min-width: 800px) {
  .contact-container {
    width: 100%;
  }
}
.contact-left,
.contact-right {
  flex: 1;
  min-width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content .item img {
  float: left;
  vertical-align: middle;
}
.margin-email-img{
  margin-top: 8px;
}
.contact-content .item h6 {
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  
}

.contact-content .item h6 span {
  font-size: 15px;
  color: #aaaaaa;
  font-weight: 400;
}

.contact-content #contact-form {
  border-radius: 10px;
  background-color: #fff;
  margin: 0;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.contact-content #contact-form label {
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

.contact-content #contact-form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}

.contact-content #contact-form textarea {
  width: 100%;
  height: 150px;
  max-height: 180px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 15px 15px;
}

.contact-content #contact-form button {
  background-color: #1e1e1e;
  height: 44px;
  border-radius: 22px;
  padding: 0px 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all .5s;
}

.contact-content #contact-form button:hover {
  background-color: #0a58ca;
}

.submitButtonMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapContactPage {
  margin-top: -100px;
  width: 100%;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

.footer {
  margin-top: 50px;
  background-color: #1e1e1e;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer p {
  color: #FFF;
  font-size: 0.7em;
  text-align: center;
}
footer .sub-header {
  height: auto;
  position: relative;
  padding: 20px;
}

footer .info {
  display: flex;
}
@media (max-width: 800px) {
  footer .info {
    flex-direction: column;
    border: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  footer .sub-header ul.info li {
    border: none;
    margin: 0;
    padding: 0;
  }
}
/* 
---------------------------------------------
Page Header Style
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/page-heading-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px;
  text-align: center;
  
}

.page-heading span {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-bottom: 30px;
}

.page-heading span a {
  color: #1e1e1e;
}

.page-heading h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}


/* 
---------------------------------------------
Contact Page Style
--------------------------------------------- 
*/

.contact-page #map {
  margin-top: 0px;
}

.contact-page p {
  margin-bottom: 50px;
}


.contact-page .phone {
  margin-bottom: 30px;
}

.contact-page .item img {
  float: left;
 
  vertical-align: middle;
}

.contact-page .item h6 {
  font-size: 16px;
  font-weight: 600;
  vertical-align: middle;
}

.contact-page .item h6 span {
  font-size: 15px;
  color: black;
  font-weight: 400;
  
}


.contact-page #contact-form label {
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

.contact-page #contact-form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0px 15px;
}

.contact-page #contact-form textarea {
  width: 100%;
  height: 150px;
  max-height: 180px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 15px 15px;
}

.contact-page #contact-form button {
  background-color: #1e1e1e;
  height: 44px;
  border-radius: 22px;
  padding: 0px 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all .5s;
}

.contact-page #contact-form button:hover {
  background-color: #0a58ca;
}

.contact-page-section-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.contact-section-map-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-section {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact-page h3 {
  margin-top: -100px;
  margin-bottom: 0;
}
.contact-page .section-heading {
  margin: 0;
}
.contact-section-description {
  width: 50%;
  font-size: 16px;
  text-align: center;
}
@media (max-width: 767px) {
  .contact-section-description {
    width: 80%;
  }
}
.email h2 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
  
}

.globalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header-area .main-nav .logo h1 {
    line-height: 80px !important;
  }
  .best-deal .tabs-content .nav-link {
    font-size: 14px;
    padding: 0px 15px;
    height: 44px;
    line-height: 44px;
    margin: 10px;
  }
  .best-deal .tabs-content ul.nav-tabs li {
    margin: 0px 5px;
  }
  .properties ul.properties-filter li a {
    font-size: 14px;
    padding: 10px 15px;
  }
  .properties ul.properties-filter li {
    margin: 5px;
  }
  .header-area .main-nav .nav li:last-child {
    display: none;
  }
}

@media (max-width: 992px) {
  .sub-headerDisappear {
    display: none;
  }
  .header-area .main-nav .logo h1 {
    line-height: 100px;
  }
  .background-header .main-nav .logo h1 {
    line-height: 80px;
  }
  .header-area .main-nav .nav li a {
    padding-left: 3px;
    padding-right: 3px;
  }
  .header-area .main-nav .nav li:last-child a {
    padding-right: 15px;
  }
  
  
  .featured .section-heading {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
  }
  .featured .accordion {
    margin-left: 0px;
    margin-right: 0px;
  }
  .featured .info-table {
    margin-top: 45px;
  }
  .fun-facts .counter {
    margin-bottom: 45px;
  }
  .best-deal .section-heading {
    text-align: center;
  }
  .best-deal .tabs-content ul.nav-tabs {
    margin-top: 0px;
    justify-content: center;
  }
  .best-deal .info-table {
    margin-bottom: 45px;
  }
  .best-deal .tab-content img {
    padding: 0px;
  }
  .best-deal .tabs-content h4 {
    margin-top: 45px;
  }
  .properties .item h6 {
    text-align: center;
    margin-bottom: 15px;
  }
  .properties .item .main-button {
    text-align: center;
  }
  .properties .item ul li {
    margin-right: 10px;
    font-size: 13px;
  }
  .contact-content .phone {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .contact-content .email {
    margin-left: 0px;
    margin-bottom: 45px;
  }
  .single-property .info-table {
    margin-left: 0px;
    margin-top: 45px;
  }
  .contact-page .section-heading {
    margin-right: 0px !important;
  }
  .best-deal .info-table ul li span {
    float: right !important;
    width: auto !important;
  }
}

@media (max-width: 1200px) {
  .best-deal .info-table ul li span {
    float: none;
    width: 100%;
  }
  
}

.properties ul.properties-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.properties ul.properties-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.properties ul.properties-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all .3s;
}

.properties ul.properties-filter li a.is_active {
  background-color: #0a58ca;
  color: #fff;
}

.properties ul.properties-filter li a.is_active:hover {
  color: #fff;
}

.properties ul.properties-filter li a:hover {
  color: #0a58ca;
}

.properties ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.properties ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.properties ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all .3s;
}

.properties ul.pagination li a:hover,
.properties ul.pagination li a.is_active {
  background-color: #0a58ca;
  color: #fff;
}